@{
    ViewBag.Title = "About";
}
<form action="/Home/CategoryChosen" method="get">

    <fieldset>
        Film Türü Seçin: <select id="MovieType" name="MovieType">

            <option value="0">Korku</option>

            <option value="1">Aksiyon</option>

            <option value="2">Drama</option>

            <option selected="selected" value="3">Komedi</option>

        </select>

    </fieldset>

</form>